[submodule "golang-101-2026"]
	path = golang-101-2026
	url = https://github.com/petnica-rac-seminari/golang-101-2026.git
[submodule "golang-parallel-2026"]
	path = golang-parallel-2026
	url = https://github.com/petnica-rac-seminari/golang-parallel-2026.git
[submodule "design-patterns-2026"]
	path = design-patterns-2026
	url = https://github.com/petnica-rac-seminari/design-patterns-2026.git
[submodule "music-workshop"]
	path = music-workshop
	url = https://github.com/petnica-rac/music-workshop.git
[submodule "wumpus_world_rac"]
	path = wumpus_world_rac
	url = https://github.com/StefanTesmanovic/wumpus_world_rac
[submodule "Petnica-Project"]
	path = Petnica-Project
	url = https://github.com/Midofey/Petnica-Project.git
